{% extends "main.html" %}
{% block title %}Lookyloo Testing{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block content %}

<h2>Server side</h2>
<ul>
  <li><a href={{ url_for('server_side_redirect') }}>3XX</a></li>
  <li><a href={{ url_for('raise_404') }}>404</a></li>
  <li><a href={{ url_for('ua') }}>User Agent</a></li>
  <li><a href={{ url_for('ip') }}>IP Address</a></li>
</ul>


<h2>In Page</h2>
<ul>
    <li><a href={{ url_for('redirect_http') }}>Redirect HTTP</a></li>
    <li><a href={{ url_for('redirect_http_path') }}>Redirect HTTP Path</a></li>
    <li><a href={{ url_for('redirect_http_partial') }}>Redirect HTTP Partial</a></li>
    <li><a href={{ url_for('redirect_http_partial_no_scheme') }}>Redirect HTTP Partial no scheme</a></li>
    <li><a href={{ url_for('redirect_http_partial_no_slash') }}>Redirect HTTP Partial no slash</a></li>
    <li><a href={{ url_for('redirect_js_loc') }}>Redirect Js location</a></li>
    <li><a href={{ url_for('redirect_js_loc_replace') }}>Redirect Js location replace</a></li>
    <li><a href={{ url_for('redirect_js_loc_assign') }}>Redirect Js location assign</a></li>
    <li><a href={{ url_for('redirect_js_obfs') }}>Redirect Js obfuscated</a></li>
</ul>

{% endblock %}
